<img [src]="currentImageSrc" class="d-block "
      style="height: 500px;object-fit: cover; width: 50%; border-radius: 10px;margin-left: 300px; margin-top: 20px;">
<div class="text-center">
      <br>

      <button style="margin-left: -180px;" class="btn btn-dark me-3" (click)="prev()">Previous</button>
      <button class="btn btn-info me-3" (click)="next()">Next</button>
      <button class="btn btn-success me-3" (click)="play()">Play</button>
      <button class="btn btn-danger me-3" (click)="stop()">Stop</button>
</div>